.moduleForum_box{
	background-color: #99FF66;
	border-radius: 10px;
	border: solid 10px #00FF00;
}

.moduleForum_ratingBox{
	background-color: #00CC66;

}

.moduleForum_eachComments{
	background-color: #CCFFCC;
	border-radius: 5px;
	border:black 1px solid;
}

.moduleForum_eachComments_top{
	background-color: #00CC66;

}
.moduleForum_eachComments_bot{
	
}