.yearone_box{
	border:solid black 3px;
	border-radius: 10px;
}
.yearone_code{
	min-height: 30px;
	background-color: #00CC66;
	margin-left: -11px;
	margin-right: -12px;
	border-radius: 5px  5px  0px 0px;
	text-align: center;
}

.yearone_title{
	min-height: 70px;

}