#home_newsfeed{
	min-height: 100%;
	height: 1000px;
	/*min-width: 615px;*/
}

#home_aboutUs{
	min-height: 100%;
	height: 300px;
	/*min-width: 285px;*/
}

#home_firstTab{
	min-height: 100%;

}

#home_secondTab{
	min-height: 100%;
	display: none;
}

