<template name="footer">
	<footer class="page-footer #eeeeee grey lighten-3">
	     
	         <div class="row">
	           <div class="col l8 s12" >
	           		<div class="col s4" >
	           			<img src="/images/footer/hohuan.jpg" alt="Chang Ho Huan" class="developers" >
	           			<p>Chang Ho Huan<br>-Developer</p>
	           		</div>

	           		<div class="col s4">
	           			<img src="/images/footer/seeting.png" alt="Chang Ho Huan" class="developers" >
	           			<p>Goh See Ting<br>-Developer <br> -Consultant</p>
	           		</div>

	           		<div class="col s4">
	           			<img src="/images/footer/fenglin.png" alt="Feng Lin" class="developers">
	           			<p>Foo Feng Lin <br>-Developer</p> 
	           		</div>
	             
	           </div>
	           <div class="col l4  s12" >
	             <h5 class="white-text">Links</h5>
	             <ul>
	               <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	               <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	               <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	               <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	             </ul>
	           </div>
	         </div>
	       
	       <div class="footer-copyright">
	         <div class="container">
	         © 2014 Copyright Text
	         <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	         </div>
	       </div>
	</footer>
</template>