<template name="header">

	<div id="logoBanner">
		<div class="row">
			<img src="/images/utility/NUSlogo.png" class="col s3 m3 l3">
			
			<div class="col s5 m5 l5 right" id="header_loginDropdown">
				{{>loginField}}
			</div>
			
		</div>
		
	</div>
	<nav>
	    <div class="nav-wrapper #fb8c00 orange darken-1">
	    	<!-- web logo -->
	      <a href="#!" class="brand-logo">ESP</a>

	      <!-- mobile logo -->
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

	      <!-- web display -->
	      <ul class="right hide-on-med-and-down">
	        <li><a href="#">Home</a></li>
	        <li><a href="#">Timetable</a></li>
	        <li><a href="#">Awards</a></li>
	        <li>
	        	<!-- Dropdown Trigger -->
	        	 <a id="dropdown_button_1" class='dropdown-button' href='#' data-activates='dropdown1'>ESP Lion</a>
	        	 <!-- Dropdown Structure -->
	        	 <ul id='dropdown1' class='dropdown-content'>
	        	   <li><a href="#">Vision</a></li>
	        	   <li><a href="#">Mission</a></li>
	        	   <li><a href="#">Achievements</a></li>
	        	 </ul>
	        </li>
	        <li><a href="#">Games</a></li>
	        {{#if currentUser}}
	        	{{#with loadLink}}
	        <li><a  href="{{pathFor 'profile'}}">Profile</a></li>
	        	{{/with}}
	        {{/if}}
	      </ul>

	      <!-- mobile display -->
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="#">Home</a></li>
	        <li><a href="#">Timetable</a></li>
	        <li><a href="#">Awards</a></li>
	        <li><a href="#">ESP Lion</a></li>
	        <li><a href="#">Games</a></li>
	        {{#if currentUser}}
	        	{{#with loadLink}}
	        <li><a href="{{pathFor 'profile'}}">Profile</a></li>
	        	{{/with}}
	        {{/if}}
	      </ul>
	    </div>
	</nav>
	<div id="underBanner" style="color:white;">
		<h4>Engineering Science Programme</h4>
		<h5>Faculty of Engineering</h5>
	</div>

</template>